// layout default colors
$background-default: #fff;
$btn-color: #d92530;
$btn-secondary: #efefef;
$main-color: #d92530;
$main-btn-hover: #000;
$main-font-color: #000;

// font colors
$link: #d92530;
$link-hover: #efefef;
$link-on-hover: #000;
$secondary-font: #797b7c;